@import '../common/colors';
@import '../common/button';
@import '../common/typography';

.app {
  padding: 5px 0px;
}

.header { @apply --heading; }

.about__info-section-1 {
  margin: 5px;
  text-align: center;
}

.about__button{
  margin-top: 20px;
}

.about__image-section {
  width: 120%;
  height: 167px;
  background: url('http://i.imgur.com/IYEKgM9.png?2') no-repeat;
  background-size: contain;
}

.button {
  @apply --greenButton;
}
.description { @apply --subHeading; }
.contribute { @apply --small; }
