@import '../common/typography';
@import '../common/colors';
@import '../common/layout';


.resource_card {
  font-family: var(--fontLato);
  padding: 15px;
  margin-bottom: 0px;
  background-color: #fff;
  border-bottom: thin #000;
  border-bottom-style: solid;
}

.resource_header {
  font-size: 21px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 50%;
}

.resource_phone {
  font-size: var(--fontMedium);
  font-weight: 200;
  margin-bottom: 0px;
}

.resource_main_info {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 20px;
  margin-bottom: 5px;
}

.resource_decription, .resource_website {
  font-weight: 700;
  font-size: 20px;
  margin-top: 8px;
}

.resource {
  @apply --flexNotMoreThan200;
  font-size: var(--fontLato);
}


.destroy {
  background-color: var(--colorPunch);
}
